@use "sass:math";
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background: #1d1f20;
  color: white;

  margin: 0;

  font-size: 15px;
  line-height: 1.2;
  font-weight: 500;

  overflow: overlay;
}

$icon-size: 5px;

.page {
  padding-top: 30px;
  max-width: 700px;
  margin: 0 auto;

  // positioning this above the selection box
  position: relative;
  z-index: 50;
}

.item-icon {
  min-width: $icon-size;
  height: $icon-size;

  margin-right: 11px;
  margin-top: 7px;
  box-sizing: border-box;
  border: 1px solid white;
}

.item-icon-full {
  background-color: white;
}

.item {
  display: flex;
  padding: 4px 0 6px 0;
}

.children {
  margin-left: math.floor(math.div($icon-size, 2));
  padding-left: 20px;
  border-left: 1px solid #27292a;
}

.selection-box {
  position: absolute;
  left: 0;
  right: 0;
  background-color: #27292a;

  transition: top 100ms ease-in-out, height 100ms ease-in-out;
}
