@import "./constants.scss";

.item {
  //padding from bottom is more pleasing for my eye by aligning text more horizontaly
  padding: 5px 0 7px 0;
  color: rgb(225, 229, 232);

  display: flex;

  align-items: center;
}

.circle {
  min-width: $icon-size;
  height: $icon-size;
  margin-right: $image-to-text;

  //depends upon icon size
  // margin-top: 6px;
  background-color: rgb(225, 229, 232);

  box-sizing: border-box;
}

.channel-circle {
  object-fit: cover;
  min-width: $channel-icon-size;
  width: $channel-icon-size;
  height: $channel-icon-size;
  border-radius: $channel-icon-size;
  margin-right: $image-to-text;
}

.video-preview {
  width: 100px;
  height: 56px;

  margin-right: $image-to-text;
}

.circle.empty {
  background-color: initial;
  border: 1px solid rgb(225, 229, 232);
}

.item:hover {
  background-color: rgb(44, 49, 51);
  color: white;
}

.board {
  display: flex;
  overflow-x: auto;

  border-top: 2px solid rgb(91, 6, 91);
  border-bottom: 2px solid rgb(91, 6, 91);
}

.board > div {
  min-width: 300px;
  flex: 1;
}

.children {
  position: relative;
}

.level {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 2px;
  background-color: rgb(52, 35, 52);
}
