@use "sass:math";
@import "./constants.scss";

@for $i from 0 through 10 {
  .level-#{$i} {
    padding-left: calc(
      max((100% - $page-max-width) / 2, $page-padding) + $item-step * $i
    );
    padding-right: calc(
      max((100% - $page-max-width) / 2, $page-padding) + $item-step * $i
    );
  }

  .level-inside-board-#{$i} {
    padding-left: $item-step * $i;
  }

  .board-#{$i} {
    padding-left: calc(
      max((100% - $page-max-width) / 2, $page-padding) + $item-step * $i
    );
  }

  .children-line-#{$i} {
    left: calc(
      max((100% - $page-max-width) / 2, $page-padding) +
        (
          $item-step *
            $i -
            $item-step +
            math.div($icon-size, 2) -
            math.div($children-line-width, 2)
        )
    );
  }

  .children-line-inside-board-#{$i} {
    left: $item-step *
      $i +
      math.div($icon-size, 2) -
      math.div($children-line-width, 2);
  }
}
